.footer {
    background: #202020;
    padding: 25px;
    color: #eee;
    text-align: center;
}
.footer p span {
    color: #ff962a;
    font-family: cursive;
}
.footer h3 {
    font-size: 18px;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    margin: 5px 20px;
}
.footer ul li a {
    font-size: 24px;
    text-decoration: none;
    color: #808080;
}
.footer ul li a:hover {
    color: #eee;
}